numpy==1.26.4
scipy==1.13.0
ipykernel==6.25.2
matplotlib==3.8.4
pandas==2.2.2
scikit-learn==1.4.2
tqdm==4.66.4
lovely_numpy==0.2.13
json-tricks==3.17.3
python-Levenshtein==0.26.1
pillow==10.3.0
torch==2.7.0
jupyter==1.1.1
torchvision==0.22.0
lovely-tensors==0.1.18
pyarmor==9.1.8